asgiref==3.2.7
bcrypt==3.2.0
cffi==1.14.5
coverage==5.1
cryptography==3.4.7
Django==1.11
django-crispy-forms==1.9.1
django-summernote==0.8.11.6
fabric==2.6.0
greenlet==0.4.16
gunicorn==20.0.4
invoke==1.5.0
msgpack==1.0.0
neovim==0.3.1
paramiko==2.7.2
pathlib2==2.3.5
pycodestyle==2.7.0
pycparser==2.20
PyNaCl==1.4.0
pynvim==0.4.1
pytz==2020.1
selenium==3.141.0
six==1.15.0
sqlparse==0.3.1
toml==0.10.2
urllib3==1.26.4
yapf==0.31.0
